.button {
  cursor: pointer;
  background-color: $color-white;

  &--lg {
    padding: 1rem 3.9rem 1rem 3.2rem;
    border-radius: 6px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.29);
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;

    @include respond(tablet) {
      font-size: 1.4rem;
      padding: 0.6rem 2.4rem;
      line-height: 1.429;
    }
  }

  &--sm {
    padding: 0.5rem 2.7rem 0.4rem;
    border-radius: 2px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 1.4rem;

    @include respond(tablet) {
      font-size: 1.2rem;
      padding: 0.6rem 2.4rem;
    }
  }

  &__icon {
    margin-right: 1.1rem;

    @include respond(tablet) {
      margin-right: 0.9rem;
    }
  }
}

.dark .button {
  background-color: $color-dark-blue-1;
}
