.input {
  background-color: $color-white;
  color: $color-dark-grey;
  width: 33.33vw;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;

  &__icon {
    padding: 1.9rem 2.4rem 1.9rem 3.2rem;
    font-size: 1.6rem;
  }

  &__type-area {
    flex: 1;
    border: none;
    border-radius: inherit;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-weight: 300;
    color: inherit;
    line-height: 1.429;

    &::placeholder {
      color: currentColor;
    }
  }
}

.dark .input {
  background-color: $color-dark-blue-1;
  color: $color-white;
}
