.detail-page {
  padding: 8rem $padding-side-desktop 12rem;
  font-size: 1.6rem;

  @include respond(tablet) {
    padding: 4rem 7.5vw 6rem;
    font-size: 1.4rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;

    @include respond(tablet) {
      flex-direction: column;
      max-width: 65rem;
      margin: auto;
      margin-top: 6.4rem;
    }
  }

  &__flag {
    width: 39vw;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);

    @include respond(tablet) {
      width: 100%;
      margin-bottom: 6rem;
    }
  }

  &__content {
    width: 41.5vw;

    @include respond(tablet) {
      width: 100%;
    }
  }

  &__heading {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;

    @include respond(tablet) {
      font-size: 2.2rem;
      margin-bottom: 1.6rem;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    line-height: 2;

    @include respond(tablet) {
      line-height: 2.286;
    }

    @include respond(mobile) {
      flex-direction: column;
    }
  }

  &__column {
    max-width: 50%;
    min-width: 40%;

    @include respond(tablet) {
      min-width: initial;
    }

    @include respond(mobile) {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-right: 3rem;

      @include respond(mobile) {
        margin-right: 0;
        margin-bottom: 3.2rem;
      }
    }
  }

  &__buttons-row {
    display: flex;
    align-items: center;
    margin-top: 7rem;

    @include respond(tablet) {
      margin-top: 3.4rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__buttons-title {
    font-weight: 600;
    line-height: 1.5;
    margin-right: 1.5rem;
    flex-shrink: 0;
    font-size: 1.6rem;

    @include respond(tablet) {
      margin-bottom: 1.6rem;
      margin-right: 0;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;

    .button {
      margin: 0.5rem;
    }
  }
}
