.filter-area {
  padding: 0 $padding-side-desktop;
  margin-bottom: 4.8rem;
  display: flex;
  justify-content: space-between;

  @include respond(mobile) {
    padding: 0 4.25vw;
    flex-direction: column;
    align-items: flex-start;
  }
}
