.grid {
  padding: 0 $padding-side-desktop;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-column-gap: 5.2vw;
  grid-row-gap: 5vw;
  align-items: stretch;

  @include respond(mobile) {
    padding: 0 14vw;
    grid-gap: 4rem;
  }
}