.header {
  background-color: $color-white;
  padding: 2.5rem $padding-side-desktop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  @include respond(mobile) {
    padding: 3rem 4.25vw;
  }

  &__heading {
    font-size: 2.4rem;

    @include respond(mobile) {
      font-size: 1.4rem;
      line-height: 1.429;
    }
  }
}

.dark .header {
  background-color: $color-dark-blue-1;
}
